h1, h2, h3, h4, h5, h6, a, p, li, button
{
    font-family: 'Noto Serif TC', serif;
}

.bg
{
    height: 85vh;
    max-width: 100%;
    background-image: 
    linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url('../img/IMG_0203.jpeg');
    /* background: url('../img/IMG_0203.jpeg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.banner
{
    position: absolute;
    color: white;
    /* padding-top: 25%; */
    bottom: 0;
    left: auto;
}

.navlink
{
    color: white;
}

.abicon > i
{
    font-size: 2rem;
    /* color: #505cfd; */
}

.prodlink > a
{
    color: black;
    text-decoration: none;
}

.prodlink > a:hover
{
    font-weight: bold;
    text-decoration: underline;
}

.card
{
    position: relative;
}

.card:hover .changeProdimg
{
    display: inline;
}

.changeProdimg
{
    position: absolute;
    display: none;
}